/* FittsLawTest.module.css */

/* Consent screen */
.consentScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: black;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
  
}

.description {
  margin-bottom: 1rem;
  width: 66%;
}

.consentButton {
  padding: 0.5rem 1rem;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.consentButton:hover {
  background-color: #2563eb;
}

/* Experiment screen */
.experimentScreen {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f3f4f6;
  overflow: hidden;
}

/* Feedback text */
.feedback {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.125rem;
  font-weight: 600;
}

/* Trial indicator */
.trialInfo {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  color: #374151;
}

/* Target circle */
.target {
  position: absolute;
  border-radius: 50%;
  background-color: red;
}

/* Start next block button */
.nextBlockContainer {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nextBlockButton {
  padding: 0.5rem 1rem;
  background-color: #10b981;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.nextBlockButton:hover {
  background-color: #059669;
}
